*.gb
*.gb.png
*.gg
*.map
*.dbg
*.sym
*.sav
*.o
*.chrgb
*.chr1
*.pb8
*.pb16
*.iu
*.1b
*.2b
*.4b
*.nam
*/obj/gg/*.pal
*/obj/gb/*.pal
*/obj/gb/*.z80
__pycache__
zip.in
ca83/tools/pb8
/little-things-gb.zip
/ca83/ca83-*.zip
/tellinglys/tellinglys-*.zip
/firstwhite/firstwhite-*.zip
/nosuchthing/nosuchthing-*.zip
/sgbears/sgbears-*.zip
/common/tools/pngtochr
/common/tools/pngtochr.exe
/common/tools/pb8
/common/tools/pb8.exe
